.Header {
    color: #000000;
    text-align: center;
    height: 15vh;
    background: rgb(204, 213, 174);
    background: linear-gradient(90deg, rgba(204, 213, 174, 1) 0%, rgba(233, 237, 201, 1) 35%, rgba(246, 241, 208, 1) 66%, rgba(250, 237, 205, 1) 100%);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.division {
    margin: 15px 0px;
    padding: 20px 30px 20px;
    background-color: #CCD5AE;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.que {
    font-size: 23px;
}

.opt {
    width: 250px;
    font-size: 1rem;
    background-color: #E9EDC9;
    color: #000;
    display: flex;
    margin: 1em;
    padding: 10px 20px;
    font-family: Montserrat;
    border-radius: 10px;
    transition: .2s ease-in-out;
    outline: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.opt:hover {
    color: #E9EDC9;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}